<!DOCTYPE html>
<html lang="en">
<head>
  {{> hed}}
</head>
{{> lod}}
<body class="content">
  {{> nav}}
  <p>
    The APIs for Sinhalasub, DL1, and DL2 are platforms offering various media content downloads. Sinhalasub is focused on Sinhala subtitles, DL1 and DL2 provide download links for files from sources like Mega, Telegram, and Pixel. These APIs allow access to large media files, including movies, TV shows, and other content.
  </p>
  <br>
  <div class="text-center">
    <p>
      <strong>
        slsub?seach=2025 :-
      </strong>
    </p>
    <div class="json-container">
      <code>
        {
        "status": "true",
        "createdBy": "Ruwantha-ofcali",
        "data": [
        {
        "title": "Man with No Past (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 4.4",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/eWHvROuznSzcxBAAkzX1X0Rmzoe-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/man-with-no-past-2025-sinhala-subtitles/"
        },
        {
        "title": "Vidaamuyarchi (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 7.8",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/xawKxIRiEFLAujNQouwMjtYYzmx-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/vidaamuyarchi-2025-sinhala-subtitles/"
        },
        {
        "title": "Thandel (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 6.9",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/ekgwx6fjFkn8lbvrup4moGGtPZY-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/thandel-2025-sinhala-subtitles/"
        },
        {
        "title": "Valiant One (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 5.6",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/sT8Z14RDCAd6szzxzWFAU4xcMwg-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/valiant-one-2025-sinhala-subtitles/"
        },
        {
        "title": "Daaku Maharaaj (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 6.4",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/tF7mDGYKYf1H2E4svu4gDfCF4UV-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/daaku-maharaaj-2025-sinhala-subtitles/"
        },
        {
        "title": "Piglet (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 2.5",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/5wZNFUJAwyX6RCxdqrLO9lLWJ20-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/piglet-2025-sinhala-subtitles/"
        },
        {
        "title": "Deva (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 7.9",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/zb2tbn1zT7AbmBoa8IB5VHM9owZ-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/deva-2025-sinhala-subtitles/"
        },
        {
        "title": "Henry Danger: The Movie (2025) Sinhala Subtitles | සිංහල උපසිරසි සමඟ",
        "imdb": "IMDb 5",
        "year": "2025",
        "inco": "https://sinhalasub.lk/wp-content/uploads/2025/02/ljk1cvUsjcG2IWI9uignr1vpfI9-150x150.jpg",
        "link": "https://sinhalasub.lk/movies/henry-danger-the-movie-2025-sinhala-subtitles/"
        }
        ]
        }
      </code>
    </div>
    <br>
    <p>
      <strong>
        slsubdl1?dl=https://sinhalasub.lk/movies/grave-torture-2024-sinhala-subtitles:-
      </strong>
    </p>
    <div class="json-container">
      <code>
        {
        "status": "true",
        "createdBy": "Ruwantha-ofcali",
        "data": {
        "description": "උපසිරසි හදල දෙන වෙබ්සයිට් එකෙන් හැමවෙලේම උපසිරසි ඩවුන්ලෝඩ් කරගන්න බලන්න ඒ වගේම උපසිරසි හදන අයව කමෙන්ට් කරල දිරිමත් කරන්න. ඒක මේ වෙබ්සයිට් එකේ විතරක් නෙමෙයි ඕනෙම එකක කරන්න . මොකද එයාල කාලය මහන්සිය කැපකරල ලොකු සේවයක් කරන්නෙOriginal ලිපිය හා උපසිරසිය පමණක් ලබාගැනීමට පහත සිංහල උපසිරසි Link එකෙන් පිවිසෙන්නසිංහල උපසිරසි",
        "downloadLinks": [
        {
        "text": "Download",
        "link": "https://sinhalasub.lk/links/hizdzv5qlh/"
        },
        {
        "text": "Download",
        "link": "https://sinhalasub.lk/links/0t6iyhmvjv/"
        },
        {
        "text": "Download",
        "link": "https://sinhalasub.lk/links/zy0snzsizy/"
        },
        {
        "text": "Download-02",
        "link": "https://sinhalasub.lk/links/upt59ud7is/"
        },
        {
        "text": "Download-02",
        "link": "https://sinhalasub.lk/links/iaxyqossau/"
        },
        {
        "text": "Download-02",
        "link": "https://sinhalasub.lk/links/g0pa15ioiu/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/1rfcyscbhe/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/voaj8ucbnn/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/vjvnbtk9kb/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/im8kbknrzv/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/rgqjumbdlb/"
        },
        {
        "text": "Download-03",
        "link": "https://sinhalasub.lk/links/alfrhlxmc2/"
        },
        {
        "text": "Download-04",
        "link": "https://sinhalasub.lk/links/fdrdt5yayi/"
        },
        {
        "text": "Download-04",
        "link": "https://sinhalasub.lk/links/alruult0kw/"
        },
        {
        "text": "Download-04",
        "link": "https://sinhalasub.lk/links/5j6pfnurbr/"
        }
        ]
        }
        }
      </code>
    </div>
    <p>
      Download-02 mega.nz
    </p>
    <p>
      <strong>
        /slsubdl2?dl=https://sinhalasub.lk/links/g0pa15ioiu/:-
      </strong>
    </p>
    <div class="json-container">
      <code>
        {
        "status": "true",
        "createdBy": "Ruwantha-ofcali",
        "data": {
        "dl": "https://mega.nz/file/o3sgxCjC#cXWVSJZ5pAs9QRXhjqDUNy4b8A-k9YA6nmPxpdoKKoA"
        }
        }
      </code>
    </div>
    <p>
      Image download (DL) refers to the process of fetching an image file from a server or URL to a local device. Users typically download images from various platforms like websites, cloud storage services (e.g., Mega), or social media (e.g., Telegram).
    </p>
    <p>
      <strong>
        image?seach=cat:-
      </strong>
    </p>
    <div class="json-container">
      <code>
        {
        "status": "true",
        "createdBy": "Ruwantha-ofcali",
        "data": [
        {
        "title": "cat",
        "url": "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_3x2.jpg"
        },
        {
        "title": "cat",
        "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/640px-Cat_August_2010-4.jpg"
        },
        {
        "title": "cat",
        "url": "https://i.natgeofe.com/n/4cebbf38-5df4-4ed0-864a-4ebeb64d33a4/NationalGeographic_1468962_square.jpg"
        },
        {
        "title": "cat",
        "url": "https://cdn.britannica.com/39/226539-050-D21D7721/Portrait-of-a-cat-with-whiskers-visible.jpg"
        },
        {
        "title": "cat",
        "url": "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_3x4.jpg"
        },
        {
        "title": "cat",
        "url": "https://media.4-paws.org/9/c/9/7/9c97c38666efa11b79d94619cc1db56e8c43d430/Molly_006-2829x1886-2726x1886-1920x1328.jpg"
        },
        {
        "title": "cat",
        "url": "http://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg"
        },
        {
        "title": "cat",
        "url": "https://cdn.britannica.com/34/235834-050-C5843610/two-different-breeds-of-cats-side-by-side-outdoors-in-the-garden.jpg"
        },
        {
        "title": "cat",
        "url": "https://www.cats.org.uk/media/13139/220325case013.jpg"
        },
        {
        "title": "cat",
        "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg"
        }
        ]
        }
      </code>
    </div>
    <p>
      NewsAPI is a tool that provides access to news articles from various sources. It allows developers to fetch headlines, articles, and media from global news outlets, making it easy to integrate real-time news data into apps or websites using a simple API.
    </p>
    <br>
    <p>
      <strong>
        /news:-
      </strong>
    </p>
    <div class="json-container">
      <code>
        {
        "status": "true",
        "createdBy": "Ruwantha-ofcali",
        "data": [
        {
        "title": "නාමල් CIDයට එයි",
        "link": "https://sinhala.adaderana.lk/news/207062",
        "image": "https://s3.amazonaws.com/adaderanasinhala/1740542043-Namal_L.jpg",
        "description": "පාර්ලිමේන්තු මන්ත්‍රී නාමල් රාජපක්ෂ මහතා මීට සුළු වේලාවකට පෙර අපරාධ පරීක්ෂණ දෙපාර්තමේන්තුවට පැමිණ තිබේ. ශ්‍රීලන්කන් ගුවන් සේවය විසින් 2013 වසරේදී සිදුකරන ලද එයාර්බස් ගුවන් යානා මිලදී ගැනීමේ ගනුදෙනුවට අදාළව ප්‍රකාශයක් ලබාදීම සඳහා ඔහු එලෙස පැමිණ ඇත. එහිදී වැඩිදුරටත් අදහස් දක්වමින් නාමල් රාජපක්ෂ මහතා පවසා සිටියේ, මේ දිනවල නිරන්තරයෙන් අපරාධ පරීක්ෂණ දෙපාර්තමේන්තුව වෙත තමාව කැඳවන බවත් එය කිසිදු ගැටලුවක් නොමැති බවත්ය. \"අපි එන තරමටම තමා මේ අයගේ බොරුව වංචාවක් කියන එක සමාජයට තහවුරු වෙන්නේ. යහපාලන ආණ්ඩුවේ දුෂණ විරෝධී කමිටුවේ හිටිය මහත්තයාම තමා මේ ආණ්ඩුවේ පොලීසිය භාර අමාත්‍යවරයා. නිවාඩු දවසක අපිව ගෙනල්ලා කටඋත්තර ගන්න මහන්සිවෙන ආණ්ඩුව නිවාඩු දවසේ කෙසේ වෙතත් උසාවි දවසේ මහන්සි වෙලා ආරක්ෂාව තහවුරු කළොත් හොඳයි\""
        }
        ]
        }
      </code>
    </div>
  </div>
  <hr>
  <div class="shows p-3 mb-5">
    <a href="/slsub?seach=2025">
      <button class="btn btn-info">
        SL-SUB seach
      </button>
    </a>
    <br>
    <a href="/slsubdl1?dl=https://sinhalasub.lk/movies/grave-torture-2024-sinhala-subtitles">
      <button class="btn btn-info">
        SL-SUB-DL1
      </button>
    </a>
    <br>
    <a href="/slsubdl2?dl=https://sinhalasub.lk/links/g0pa15ioiu/">
      <button class="btn btn-info">
        SL-SUB-DL2
      </button>
    </a>
    <br>
    <a href="/image?seach=cat">
      <button class="btn btn-info">
        IMAGE-SEACH
      </button>
    </a>
    <br>
    <a href="/news">
      <button class="btn btn-info">
        Newas
      </button>
    </a>
    <br>
    <a href="/txt?txt=Rip">
      <button class="btn btn-info">
        TEXT-STYLE
      </button>
    </a>
  </div>
  {{> sl}}
</body>
</html>