<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">
        <img src="/img/inco.png" alt="" width="60" height="35">
        <span class="topic">
          R-API
        </span>
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/DOC">
          DOC
        </a>
      </li>
    </ul>
  </nav>
</header>